spring:
  cloud:
    stream:
      defaultBinder: ${com.acme.automotive.currentBinder}
      binders:
        rabbit:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: rabbitmq
                port: 5672
                username: guest
                password: guest
        kafka:
          type: kafka
          environment:
            spring:
              cloud:
                stream:
                  kafka:
                    binder:
                      brokers: 172.41.0.6:9092,172.41.0.7:9092